/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
  --weui-logo-icon: var(--td-brand-color-7);
  --weui-logo-text: #000427;
  --weui-mask-disabled: rgba(255, 255, 255, 0.6);
  --weui-bg-color-container-hover: #f3f3f3;
  --weui-shadow: 0 6px 30px 5px rgba(0, 0, 0, 0.05), 0 16px 24px 2px rgba(0, 0, 0, 4%), 0 8px 10px -5px rgba(0, 0, 0, 8%);
  --weui-shadow-inset-top: inset 0 0.5px 0 #dcdcdc;
  --weui-shadow-inset-right: inset 0.5px 0 0 #dcdcdc;
  --weui-shadow-inset-bottom: inset 0 -0.5px 0 #dcdcdc;
  --weui-shadow-inset-left: inset -0.5px 0 0 #dcdcdc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    --weui-logo-icon: #FFFFFF;
    --weui-logo-text: #FFFFFF;
    --weui-mask-disabled: rgba(0, 0, 0, 0.6);
    --weui-bg-color-container-hover: #2c2c2c;
    --weui-shadow: 0 16px 24px rgba(0, 0, 0, 0.14), 0 6px 30px rgba(0, 0, 0, 0.12), 0 8px 10px rgba(0, 0, 0, 0.20);
    --weui-shadow-inset-top: inset 0 0.5px 0 #5e5e5e;
    --weui-shadow-inset-right: inset 0.5px 0 0 #5e5e5e;
    --weui-shadow-inset-bottom: inset 0 -0.5px 0 #5e5e5e;
    --weui-shadow-inset-left: inset -0.5px 0 0 #5e5e5e;
  }
}

@font-face {
  font-family: LINESeedSans_W_XBd;
  font-style: normal;
  font-weight: "normal";
  font-display: swap;
  src: url(fonts/LINESeedSans_W_XBd.woff) format("woff"), url(fonts/LINESeedSans_W_XBd.woff2) format("woff2")
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--weui-BG-0);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: MiSans, MIUI, Helvetica Neue, Helvetica, Arial, PingFang SC, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}